#account{
    background: radial-gradient(ellipse at bottom, #2887C8 0%, rgba(0, 123, 255, 0.19) 100%);
    margin-left: 10%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    text-align: start;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);

}
.content {
    animation: pulsate1 0.7s ease;
    animation-iteration-count: infinite;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-size: 0.8em;
    margin-left: 1%;
    margin-right: 1%;
    color: #ffaa60;
    position: relative;
}


.card-body{
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-left: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    position: relative;
    border-radius: 20px;
    height: 70%;
}
@-webkit-keyframes pulsate1 {
    0% {
        opacity: 0.5;

    }
    50% {
        opacity: 1.0;
        color: #FFDF00;
        -webkit-text-stroke: 1px white;

    }
    100% {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 767px) {
    .content {
        display: none;
    }

    #account {
        margin: 0;
        width: 100%;
        font-size: 1em;
    }
}