body {
  background:#343a40;
}

.lobbies {
  padding-top: 60px;
}

#navb #createGame,#refreshGames {
  background-color: #6c757d;
  color: white;
  margin-right: 10px;
}

#navb form {
  padding-top: 3px;
}

.card {
  text-shadow: 2px 2px black;
}

.card-header {
  background-color: dimgray;
  color: white;
}

.card-body {
  background-color: #121212;
  color: white;
}

.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-nav button {
    width: 100%;
    margin-top: 10px;
  }

  #search {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* @media only screen and (min-width:576px) and (max-width: 768px) {
  #search {
    width: 100%;
    margin-bottom: 10px;
  }
} */