body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.room-info {
  display: flex;
  height: 100vh;
}

.player-hand {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
}

.card:first-child {
  margin-left: 10px;
}

.card {
  margin-right: 10px;
  transition: 0.5s;
  max-width: 300px;
}

.card-body {
  min-height: 200px;
  padding: .5rem;
}

.card:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */

  .room-info {
    display: block;
  }

  .player-hand {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    max-height: 18rem;
    max-width: 150px;
  }

  .card:first-child {
    margin-top: 60px;
  }
}