body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.room-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 56px);
    margin: 56px 0 0;
    padding: 10px;
}

#upper_row {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.score-board {
    margin-right: -10px;
    margin-top: -10px;
    max-height: 300px;
    overflow: auto;
}

.other-played-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.current-black-card {
    color: white;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.player-hand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-self: flex-end;
    padding-bottom: 10px;
}

.card {
    margin-right: 10px;
    transition: 0.2s;
    height: 300px;
    width: 200px;
}

.card-body {
    padding: .5rem;
    margin: 0;
}

.other-played-cards .card-body:active,
.player-hand .card-body:active {
    background: darkgreen;
    color: white;
    text-shadow: 1px 1px black;
}

.card-body .card-text {
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

::-webkit-scrollbar {
    width: 1px;
}

#bottom_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.dropdown-menu {
    background-color: inherit;
    border: 2px solid rgba(0,0,0,.15);
}

.card-set {
    border: blue solid 2px;
}

.card-set .card {
    height: 150px;
    width: 100px;
}

.submit-button {
    display: none;
    position: absolute;
    bottom: 10px;
}

.player-hand .selected {
    background: darkgreen !important;
    color: white;
    text-shadow: 1px 1px, black;
}

.card-body h1 {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 80%;
}

/* .card-body .selectedStyle, .selectedStyle {
    transform: scale(1,2);
    background-color: green;
    text-shadow: 1px 1px black;
} */

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    #upper_row {
        flex-wrap: wrap;
    }

    .player-hand {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .score-board {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #dropdownScore {
        display: none;
    }
}