module.exports = {
	database: {
		endpoint: "", //db endpoint
		db: "HumansAgainstCards", //db storage
	},
	server: {
		port: 7000,
		endpoint: "localhost",
		protocol: "http",
	},
	console: {
		timestamp: true,
		colors: true,
    },
    routes          : {
        //Stores external routes
    },
};
