.card {
    width: 100px !important;
    height: 180px !important;
    padding: 3px;
    margin: 0;
    align-self: baseline;
}

#player-screen{
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
}

#black_card{
    display: flex;
    width: 60px;
    height: 100px;
}

#players_cards{
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.player-title{
    width: 100px;
}

#player-hand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score-board-table{
    width: 20vw !important;
    margin-left: 0.5em;
}
